<configSections>
	<!-- if you don't want to process anything in this section but wish to keep it for future reference, you can write <configSection name="LJ" ignore="1"> -->
	<configSection name="LiveJournal" ignore="0">
		<server>https://www.livejournal.com</server>
		<!-- comments export page. You should be able to access the page at <server>/<exportCommentsPage>?get=comment_meta&startid=0 when logged in -->
		<!-- for example http://www.livejournal.com/export_comments.bml?get=comment_meta&startid=0 -->
		<exportCommentsPage>export_comments.bml</exportCommentsPage>
		<eventPropertiesToExclude/>
		<propPropertiesToExclude>
			<propPropertyToExclude>xpostdetail</propPropertyToExclude>
		</propPropertiesToExclude>
		<users>
			<!-- if you don't want to process a user but wish to keep it for future reference, you can write <user ignore="1"> -->
			<user>
				<name>test_account</name>
				<!-- If you want to be able to view your exported files not just in their normal XML form but as somewhat fancier HTML pages, put 1 into applyXSLT tag. You may need to set your browser to display local XSLT transformations -->
				<applyXSLT>1</applyXSLT>
				<!-- Archive comments for user -->
				<archiveComments>1</archiveComments>
				<!-- Save images from post bodies (NOT COMMENTS!) to local disk -->
				<archiveImages>0</archiveImages>
			</user>
		</users>
	</configSection>
</configSections>